@font-face { /* Gotham finns inte i google fonts så jag var tvungen att importera det manuellt.*/
    font-family: Gotham;
    src: url(Gotham-Light.otf);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    z-index: 99;
    background-color: #1a1a1a;
    height: 100px;
    width: 100%;
    font-size: 50px;
    
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > *{
    height: 70%;
    margin-right: 30px;
}

header{
    height: 100vh;
    width: 70%;
    padding-left: 30%;
    
    display: flex;
    align-items: center;
    
    font-family: 'Montserrat', sans-serif;
    -webkit-text-stroke: white 5px;
}

h1, h2, h3, p{
    color: #1a1a1a;
}

h1{
    font-size: 20vh;
    width: 0px;
}

h2{
    font-family: 'Libre Baskerville', serif;
    font-size: 40px;
}

h3{
    font-family: 'Libre Baskerville', serif;
    font-size: 32px;
}

a{
    text-decoration: none;
    font-family: 'Gotham';
    color: #335A96;
}

p{
    font-family: 'Gotham';
    font-size: 20px;
}

span{
    color: #e9c534;
}

.intro{
    text-align: center;
    margin: auto;
    padding: 10vh 0px 30vh 0px;
    width: 60%;
    font-size: 50px;
}

.margin{
    width: 70%;
    margin: 100px auto 100px auto;
    padding: 100px 0px;
}

.phone-element{
    width: 35%;
    margin: auto;
}

.phone-head{
    text-align: center;
    margin: 120px auto 120px auto;
}
.phone-head > *{
    padding: 15px;
}
.phone-head > h2{
    border-bottom: black solid 2px;
}

.grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    column-gap: 20px;
}

.service{
    height: 60%;
    padding-top: 20px;
    border-top: black solid 2px;
    display: grid;
    grid-template-columns: 20% 60%;
    grid-template-rows: 40% 40%;
    row-gap: 20%;
}
.service > a{
    grid-column-start: 2;
}

.phone{
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    justify-self: center;
    position: relative;
}

.screen{
    z-index: 2;
    position: absolute;
    left: 11px;
    top: 58px;

    height: 430px;
    width: 242px;
}

.icon{
    width: 40px;
}

.centered-title{
    text-align: center;
}
.centered-title p{
    padding: 50px 0px;
}

.flexbox{
    border-top: 2px white solid;
    padding: 80px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexbox > a{
    height: 300px;
    width: 300px;
    position: relative;
}

.flexbox > a > *{
    border-radius: 15px;
}

.flexbox img{
    width: 100%;
}

.flexbox > a > div{
    background-color: rgba(0, 0, 0, 0.3);
    outline: 2px solid white;
    outline-offset: -10px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.flexbox p{
    position: absolute;
    left: 15px;
    top: 215px;
}

.carousel-indicators{
    top: 120px;
    width: 200px;
    margin: auto;
}
.carousel-indicators li{
    height: 10px;
    width: 10px;
    margin: auto;
    background-color: #999999;
    border-radius: 50%;
}
#carousel{
    width: 200px;
    margin: 120px auto 0px;
}
.carousel-inner img{
    height: 100px;
    margin: auto;
}

footer{
    background-color: #1a1a1a;
    border-top: 5px solid;
}

.footer-elements{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    padding-top: 80px;
}

.footer-elements p{
    font-size: 16px;
    margin: 40px 0px;
    color: #cccccc;
}

.footer-elements img{
    width: 100%;
}

.footer-end{
    border-top: #cccccc 2px solid;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-end h3{
    color: #cccccc;
    display: inline-block;
}
.footer-end > div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
}