@font-face { /* Gotham finns inte i google fonts så jag var tvungen att importera det utan en <link>-tag.*/
    font-family: Gotham;
    src: url(fonts/Gotham-Light.otf);
}
*{
    margin: 0px;
    padding: 0px;
}

nav{
    transition: 1s;
    z-index: 99;
    height: 100px;
    width: 100%;
    
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > *{
    height: 70%;
    margin-right: 30px;
    cursor: pointer;
}
nav > div{
    font-size: 50px;
}

#menu{
    display: none;
    position: fixed;
    font-size: 40px;
    z-index: 90;
}

#fadein{
    position: fixed;
    padding-top: 20%;
    z-index: 999;
}

.menu-hover a:hover{
    text-decoration: none;
    border-left: 1px white solid;
    border-right: 1px white solid;
}

#dropdown{display: none;}
/* SCROLLBAR */
::-webkit-scrollbar-track{box-shadow: inset 0 0 6px rgba(0,0,0,0.3);}
::-webkit-scrollbar{width: 12px;}
::-webkit-scrollbar-thumb{background-color: #1a1a1a;}

header{
    height: 100vh;
    padding-left: 30%;
}

/* HEADER HOVER-EFFEKT */
.text-stroke{
    font-family: 'Montserrat', sans-serif;
    -webkit-text-stroke: white 5px;
    cursor: default;
    font-size: 10vw;
    transition: .5s;
}

.text-stroke:hover{
    color: white;
}

header h2{
    font-size: 80px;
}
.line{
    background-color: white;
    height: 10px;
    width: 150px;
}

h1, h2, h3, p{
    color: #1a1a1a;
    margin: 0px;
}


h2,h3{font-family: 'Libre Baskerville', serif;}
h2{font-size: 40px;}
h3{font-size: 32px;}
p{font-size: 20px;}

.highlight{color: #e9c534;}

a{
    text-decoration: none;
    color: #335A96;
}

/* KONTAKT KNAPP */
.contact {
    height: 40px;
}
.contact *{
    border-bottom: 1px solid;
    border-radius: 5px 5px 0px 0px;
    padding-bottom: 5px;
    transition: .2s;
}
.contact *:hover{
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-color: #00a19b;
}

.zoom{
    transition: .2s;
}
.zoom:hover{
    transform: scale(1.2);
}

.intro{
    text-align: center;
    margin: auto;
    padding: 10vh 0px 30vh 0px;
    width: 60%;
    font-size: 50px;
}

.margin{
    width: 70%;
    margin: 100px auto 100px auto;
    padding: 100px 0px;
}

/* TELEFONEN */
.phone-element{
    width: 35%;
    margin: auto;
}

.phone-head{
    text-align: center;
    margin: 120px auto 120px auto;
}
.phone-head > *{
    padding: 15px;
}
.phone-head > h2{
    border-bottom: black solid 2px;
}

.grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    column-gap: 20px;
}

.service{
    transition: .2s;
}

.service-element{
    border-top: black solid 2px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 20% 60%;
    grid-template-rows: 40% 40%;
    row-gap: 20%;
}
.service-element > a{
    grid-column-start: 2;
}

.phone{
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    justify-self: center;
    position: relative;
}

.screen{
    display: none;
    z-index: 2;
    position: absolute;
    left: 11px;
    top: 58px;

    height: 428px;
    width: 242px;
}

/* IKON STORLEK */
.icon{
    width: 40px;
}
.icon-l{
    width: 180px;
    padding: 10px
}

.text-center p{
    padding: 30px 0px;
}

.space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* PORTFOLIO KORT */
.cards{
    border-top: 2px white solid;
    padding: 80px 0px;
}

.cards > a{
    height: 300px;
    width: 300px;
    position: relative;
}

.cards > a > *{
    border-radius: 15px;
}

.cards img{
    width: 100%;
}

.cards > a > div{
    background-color: rgba(0, 0, 0, 0.3);
    outline: 2px solid white;
    outline-offset: -10px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.cards p{
    position: absolute;
    left: 15px;
    top: 215px;
    margin-top: 15px;
}


/* KORT BORDER */
.border-short{
    padding: 10px;
    position: relative;
}
.border-short::before{
    content: " ";
    position: absolute;
    bottom: 0;
    left: 400px;
    right: 400px;
    border-bottom: 2px #1a1a1a solid;
}

/* CAROUSEL */
.carousel-indicators{
    top: 120px;
    width: 200px;
    margin: auto;
}

.carousel-indicators li{
    height: 10px;
    width: 10px;
    margin: auto;
    background-color: #999999;
    border-radius: 50%;
}

#carousel{
    width: 200px;
    margin: 120px auto 0px;
}

.carousel-inner img{
    height: 100px;
    margin: auto;
}

/* TIMELINE */
.timeline-container{
    margin-top: -100px;
}

.timeline{
    height: 660px;
    margin-top: 40px;
}

.swiper-container{
    height: 100%;
    width: 100%;
}

.swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.swiper-slide .text, .swiper-slide .year{
    opacity: 0;
    transition: .2s;
}

.swiper-slide-active > .marker > *{
    background-color: #00a19b;
}

.swiper-slide-active .text, .swiper-slide-active .year{
    opacity: initial;
}

.line{
    background-color: #999999;
    height: 100%;
    width: 1px;
    margin-left: 8px;
}

.dot{
    background-color: #999999;
    height: 16px;
    width: 16px;
    border-radius: 50%;
}

.text{
    width: 80%;
    position: absolute;
    top: 400px;
    left: 350px;
}

.year{
    position: absolute;
    top: 400px;
    left: -180px;
}
.year h3{font-size: 180px;}

/* FORM */
form > *{
    background-color: #fdfdfd;
    margin-bottom: 20px;
    width: 100%;
}

input, textarea{
    border: none;
    border-bottom: 1px solid #1a1a1a;
    padding: 20px 0px 2px 2px;
    outline: none;
}

input[type=checkbox]{
    cursor: pointer;
    height: 20px;
    width: 20px;
}

input[type=submit]{
    border: 1px solid #1a1a1a;
    border-radius: 15px;
    width: auto;
    padding: 10px;
    background-color: #fdfdfd;
}

label{
    cursor: pointer;
    padding: 0px 20px;
    margin: 0px;
}

/* FOOTER */
footer{
    background-color: #1a1a1a;
    border-top: 5px solid;
}

.footer-elements{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    padding-top: 80px;
}

.footer-elements p{
    font-size: 16px;
    margin: 40px 0px;
    color: #cccccc;
}

.footer-elements img{
    width: 100%;
}

.footer-end{
    border-top: #cccccc 2px solid;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-end h3{
    color: #cccccc;
    display: inline-block;
}
.footer-end > div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
}